<h1 style="text-align: center">{{ titulo }}</h1>

<form style="border-style: inset; background-color: aquamarine" action="">
  NOMBRE: <input type="text" name="nombre" [(ngModel)]="nombre" />
  <br />
  <br />
  APELLIDO: <input type="text" name="apellido" [(ngModel)]="apellido" />
  <br />
  <br />
  CARGO: <input type="text" name="cargo" [(ngModel)]="cargo" />
  <br />
  <br />

  <input type="submit" value="ENTER" (click)="registrar()" />
</form>

<br />
<br />

<p *ngIf="registrado; else sinRegistrar" [class]="color" [style]="colorFont">
  {{ mensaje }}
  <span [ngClass]="{ paraFonseca: apellido == 'Fonseca' }">{{ apellido }} </span>
  <span [ngStyle]="{ color: cargo == 'Director' ? 'red' : 'black' }">{{
    cargo
  }}</span>
</p>
<!--nfIg como condicional para renderizar en el DOM. registrado es un boolean del componente-->

<ng-template #sinRegistrar>
  <p>De momento nadie registrado...</p>
</ng-template>

<br />
<br />

<hr />

<!-- BUCLE FOR para recorrido del array entradasBlog-->

<h1 style="text-align: center">RECORRIDO ARRAY</h1>

<ul>
  <li *ngFor="let blogEntrada of blogEntradas">{{ blogEntrada.titulo }}</li>
</ul>
